<h1>Add a New Car</h1>

<form action="/cars" method="POST">
  <label> Car Name </label>
  <input type="text" name="model"> </br>

  <label> Bag Capacity </label>
  <input type="number" name="year"> </br>

  <input type="submit" value="Create">
</form>