<h1>New User</h1>
<form action="/users/new" method="POST">
  <p>Name: <input type="text" name="username" placeholder="Username"></p>
  <p>Password: <input type="text" name="password" placeholder="Password"></p>
  <input class="btn btn-primary" type="submit">
</form>
