<a href="http://127.0.0.1:9294/">Home</a>
<br>
<br>
If you're a returning user, please<a href="/users/login">Login</a> to start using the app.
<br>
<br>
If you're a new user, please <a href="/users/new">Signup</a> to view your data.

<h2>Welcome!</h2>