<h1>Edit <%= @car.name %></h1>

<form action="/cars/<%=@car.id %>" method="POST">
  <label> car Name </label>
  <input type="text" name="model" value="<%=@car.model %>"> </br>

  <label> car Year </label>
  <input type="number" name="year" value="<%=@car.year %>"> </br>

  <input type="submit" value="Update">
</form>